{% from "_components.html" import icon, empty_state, page_header, chip %}
<section id="fragment-content" tabindex="-1" aria-live="polite" aria-busy="false">
{% if view == 'dashboard' %}
  {% include "fragments/dashboard.html" %}
{% elif view == 'apps' %}
  {% include "fragments/apps_list.html" %}
{% elif view == 'install' %}
  {% include "fragments/apps_install.html" %}
{% elif view == 'app-detail' %}
  {% include "fragments/apps_detail.html" %}
{% elif view == 'app-configure' %}
  {% include "fragments/apps_configure.html" %}
{% elif view == 'app-logs' %}
  {% include "fragments/apps_logs.html" %}
{% elif view == 'infrastructure' %}
  {% include "fragments/infrastructure_list.html" %}
{% elif view == 'infrastructure-detail' %}
  {% include "fragments/infrastructure_detail.html" %}
{% elif view == 'logs' %}
  {% include "fragments/logs_viewer.html" %}
{% elif view == 'general' %}
  {% include "fragments/general_overview.html" %}
{% elif view in ('general-detail',) %}
  {% include "fragments/general_detail.html" %}
{% elif view == 'security' %}
  {% include "fragments/security_overview.html" %}
{% elif view == 'security-ban' %}
  {% include "fragments/security_ban.html" %}
{% elif view == 'security-unban' %}
  {% include "fragments/security_unban.html" %}
{% elif view in ('security-detail', 'security-decisions', 'security-metrics', 'security-bouncers', 'security-console') %}
  {% include "fragments/security_detail.html" %}
{% elif view == 'maintenance' %}
  {% include "fragments/maintenance_overview.html" %}
{% elif view == 'maintenance-operations' %}
  {% include "fragments/maintenance_operations.html" %}
{% elif view == 'operations' %}
  {% include "fragments/operations.html" %}
{% elif view == 'operations-result' %}
  {% include "fragments/operations_result.html" %}
{% else %}
  {% include "fragments/error.html" %}
{% endif %}
</section>
